<!DOCTYPE html>
<html>
<head>
    <title>View Students</title>
</head>
<body>
    <h2>Students List</h2>
    <table border="1">
        <tr>
            <th>Student ID</th>
            <th>Name</th>
            <th>Enrollment Date</th>
            <th>Course</th>
            <th>Email</th>
            <th>Phone Number</th>
        </tr>
        {% for student in students %}
        <tr>
            <td>{{ student.Student_ID }}</td>
            <td>{{ student.Name }}</td>
            <td>{{ student.Enrollment_Date }}</td>
            <td>{{ student.Course }}</td>
            <td>{{ student.Email }}</td>
            <td>{{ student.Phone_Number }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
